<app-info-page-generic Title="The Stuart Age">
  <p>
    The 17th century was a period of revolutions in England. After the death of Queen Elizabeth   in1603the crown passed to James I, who was the king of Scotland with the name James VI.
    So he  united the crowns of England and Scotland. He was the first of the Stuart kings. His reign witnessed the Gunpowder Plot ( November 5th 1605), which was a Roman Catholic plot to blow up the Parliament and the King himself during the opening session.
  </p>
  <p>
    James I and his son and successor, Charles I both believed in the divine right of kings, in other words they thought their power came directly from God and so they answered for their actions to God alone, in other words they were above the law and could rule as absolute monarchs.
    This led to a struggle with the Parliament which believed instead in a constitutional monarchy , that is to say a monarchy where the power of the king is limited by a constitution.
  </p>
  <div>
    <h1>The Timeline</h1>
    <div class="container">
      <div class="line"></div>
      <div class="container2">
        <app-timeline-segment Title="The Civil War" Date="1642 - 1649">
          <div>For several years  Charles attempted to rule without calling the Parliament  and imposed taxes on people illegally, thus in 1642 the conflict with  the Parliament eventually degenerated in a civil war.
            The king was supported by the Royalists ( also called  Cavaliers) which included the aristocracy, the gentry, the Church of England and also many Catholics while  the new gentry, the small landowners, the merchant classes and the puritans , sided with Parliament.They were the  Parliamentarians (also called the roundheads) led by Oliver Cromwell.
            The struggle ended with the victory of the parliamentary forces and the execution of the king in 1649.</div>
        </app-timeline-segment>

        <app-timeline-segment Title="Republican England" Date="1649 - 1660">
          Britain was a republic known as the Commonwealth. It was not a success. People had less freedom under Cromwel’s authoritarian rule than they had under Charles I.

          After Charles I’s execution, Cromwell and his friends got rid of the House of Lords and of the Anglican Church.
          They were puritans and believed they could build God’s kingdom in England.
          Puritans introduced many restrictions on everyday’s life: they banned every form of entertainment, which they considered immoral ; they closed down all theatres because they thought they were centres of corruption.
          Puritans made work rather than pleasure their main occupation, which explains their appeal to the mercantile classes.
          Cromwell’s foreign policy was successful: he restored the lost prestige of England by submitting Scotland and Ireland ; he reorganised the navy and followed a mercantilist policy; he defeated the Dutch who had to accept English supremacy on the seas ( Navigation Act-1652).
          His home policy was less successful: he tried to govern as a constitutional ruler, but the army, which had brought him to power, became too strong.
          After his death a period of confusion followed. it ended with the restoration of the monarchy in 1660
        </app-timeline-segment>

        <app-timeline-segment Title="The Restoration" Date="??">
          Charles II was called from France ,where he had been in exile. When he returned to England the laws and acts of Cromwell’s government were cancelled.
          In France the king had become accustomed to a life of elegance, extravagance and affectation. So he opened the way to French tastes in fashion and culture . The upper classes  followed the king in a life devoted to libertinism  and moral licence. So the Restoration was a reaction against the austere and severe life-style imposed by the Puritans : theatres were reopened and the new comedies, the Comedies of  Manners , mirrored the atmosphere of the court and ,with their licentious themes, showed the influence of  French and of  Spanish  theatre, as well as that of the Italian  “ Commedia dell’arte”.
        </app-timeline-segment>

        <app-timeline-segment Title="Progress In Science" Date="1662">
          Charles II was interested in art and science.
          In 1662 the royal society (the oldest existing scientific academy in the world, founded in 1660) was granted a royal charter by the king. it promoted the development of experimental science.
          This led to an outburst of scientific activity and to a more rational way of looking at life.
        </app-timeline-segment>

        <app-timeline-segment Title="The Ideal of Religious Tolerance Began to Spread" Date="??">
        </app-timeline-segment>

        <app-timeline-segment Title="The Bubonic Plague in England" Date="1665">
        </app-timeline-segment>

        <app-timeline-segment Title="The Great Fire of London" Date="1666">
        </app-timeline-segment>

        <app-timeline-segment Title="The Puritans Start Interpreting These Events as Punishment For The King's Immorality" Date="??"></app-timeline-segment>

        <app-timeline-segment Title="The test Act was passed" Date="1673">
          It prevented Catholics from taking positions in government and Parliament
          During his reign the first political parties were formed:
          The Whigs: they were afraid of an absolute monarchy; even if they were afraid of a Catholic King, they believed in allowing religious freedom.
          The Tories: they supported the authority of the crown and of the Church

          These two parties became the basis of Britain’s two-party parliamentary system.
        </app-timeline-segment>

        <app-timeline-segment Title="Censorship was Abolished: The Press was Free." Date="1692">

        </app-timeline-segment>

        <app-timeline-segment Title="The Glorious Revolution" Date="1689 - 1701">
          The reign of James II , Charles II’s successor did not last long because he tried to reintroduce Catholicism as the official religion.  In 1689 he was deposed in favour of Mary, his protestant daughter, and her husband William D’Orange. But the royal couple had to sign The Bill of Rights which  stated that the King couldn’t raise taxes, keep an army or act against any MP without the agreement of Parliament. England had a constitutional monarchy
          The events that led to their accession to the throne are known as the  Glorious or Bloodless Revolution.
          In 1701 the Act of Settlement was passed  to guarantee a protestant succession to the English throne. Its main purpose was to exclude Roman Catholics from the throne.
        </app-timeline-segment>

        <app-timeline-segment Title="The Last Monarch" Date="1702 - 1714">
          The last Stuart was Queen Anne (1702) who died in 1714 without heirs.
          1707 The Act of Union : the United Kingdom , Great Britain was born.
        </app-timeline-segment>
      </div>
    </div>
  </div>

  <h1>Notes</h1>
  <p style="padding-bottom: 100px">The 17th century was also a period of colonial expansion . The East India Company established its headquarters in Bombay.
    In America the colonies were growing in number after the foundation of the colony of Virginia in 1590 by  Sir Walter Raleigh and the arrival in1620 of the first Puritans who had left England to escape religious persecutions.
  </p>
</app-info-page-generic>
