<h1 style="padding-left: 0.5rem">Menu</h1>

<mat-accordion>
  <h2>Matematica</h2>
  <app-option Title="Goniometria">
    <a>test</a>
  </app-option>
    <app-option Title="Trigonometria">
    <a>test</a>
  </app-option>

  <h2>Fisica</h2>
  <app-option Title="Biologia">
    <a>test</a>
  </app-option>
  <app-option Title="Chimica">
    <a>test</a>
  </app-option>

  <h2>Scienze</h2>
  <app-option Title="Storia">
    <a>test</a>
  </app-option>
  <app-option Title="Letteratura">
    <a>test</a>
  </app-option>

  <h2>Biologia</h2>
  <app-option Title="Corpo Umano">
    <a (click)="this.router.goRoute('cellule-staminali')">Le Cellule Staminali</a>
    <a>Il Sistema Muscolare</a>
  </app-option>
  <app-option Title="Letteratura">
    <a>test</a>
  </app-option>

  <h2>Inglese</h2>
  <app-option Title="Stuart Age">
    <a (click)="this.router.goRoute('stuart-age')">Timeline</a>
  </app-option>
  <app-option Title="Letteratura Inglese">
    <a>test</a>
  </app-option>
  <div style="margin-bottom: 50px"></div>
</mat-accordion>
