<h1 style="padding-left: 1.25rem">Menu</h1>

<mat-accordion>
  <h2>Matematica</h2>
  <app-option Title="Goniometria">
    <a>test</a>
  </app-option>
    <app-option Title="Trigonometria">
    <a>test</a>
  </app-option>

  <h2>Fisica</h2>
  <app-option Title="Biologia">
    <a>test</a>
  </app-option>
  <app-option Title="Chimica">
    <a>test</a>
  </app-option>

  <h2>Scienze & Biologia</h2>
  <app-option Title="Storia">
    <a>test</a>
  </app-option>
  <app-option Title="Letteratura">
    <a>test</a>
  </app-option>

  <h2>Inglese</h2>
  <app-option Title="Inglese">
    <a>test</a>
  </app-option>
  <app-option Title="Letteratura Inglese">
    <a>test</a>
  </app-option>
  <div style="margin-bottom: 50px"></div>
</mat-accordion>
