<app-info-page-generic Title="Napoleone: Mito e Anti-Mito">

  <h2>La Funzione della Religione Secondo Napoleone</h2>
  <p>
    Napoleone ritiene che in una società non ci possa essere ordine senza diseguaglianze economiche e sociali,
    e queste diseguaglianze non possono essere accettate  senza la religione. Quindi, la religione ha la funzione di convincere il popolo
    che le diseguaglianze che riscontrano nella loro vita sono volute da Dio.<br>
    Inoltre, Napoleone crede che la religione sia un metodo per governare il popolo
  </p>

</app-info-page-generic>
